@model KnxDataCollector.Model.XmlFiles

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>XmlFiles</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Xmldata)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Xmldata)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsProcessed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsProcessed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessingPercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessingPercentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelegramsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelegramsCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CancellationToken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CancellationToken)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Fid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
